/* Custom CSS
-------------------------*/
div.logo {
    background: url([[setting:logo]]) 0 0 no-repeat;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

img.small-logo {
    float: left;
    height: 35px;
    margin: 3px 10px 3px 0;
}

@media (max-width: 768px) {
    img.small-logo {
        margin: 3px;
    }
}

@media (max-width: 480px) {
    .navbar img.small-logo {
        max-width: 150px;
    }
    /* Applying accesshide styles */
    .navbar .small-logo-container + .brand {
        position: absolute;
        left: -10000px;
        font-size: 1em;
        font-weight: normal;
    }
}

.block .header .title {
	background-image:url([[pix:theme|gradient_h]]);
	background-repeat:repeat-x;
	clear:both;
	line-height:2em;
	background-color:#E3DFD4;
}

.block .header h2 {
	color: black;
}

.block {
	border-radius: 0px;
	border: 1px solid #C6BDA8;
	padding: 0px;
}

.block .header .block_action {
	padding: 0px;
	padding-right: 3px;
}

body {
	background-color: #EFEFEF;
	font-size: 13px;
	padding-top: 0px;
}

.container-fluid {
	background-color: #F5F5F5;
	max-width: none;
}

th.header, .formtable tbody th, .generalbox th, .generaltable th.header {
	background-image:url([[pix:theme|gradient_h]]);
	background-repeat:repeat-x;
	background-color:#E3DFD4;
}

a:link {
	text-decoration:none;
	color:#3A2894;
}
	
a:visited {
	text-decoration:none;
	color:#3A2894;
}

a:hover {
	text-decoration:underline;
	color:black;
}

a.autolink {
	text-decoration:underline;
}

.generaltable {
	border: 1px solid #C6BDA8;
}

.block_settings .block_tree .tree_item a:link,
.block_settings .block_tree .tree_item a:visited,
.block_settings .block_tree .tree_item a:active,
.block_navigation .block_tree .tree_item a:link,
.block_navigation .block_tree .tree_item a:visited,
.block_navigation .block_tree .tree_item a:active {
	color:#000;
}

.block .content {
    background-color: #F6F6F6;
}

#page.container-fluid {
	border: 17px solid transparent;
	-webkit-border-image: url([[pix:theme|border]]) 17 round; /* Safari 3.1-5 */
	-o-border-image: url([[pix:theme|border]]) 17 round; /* Opera 11-12.1 */
	border-image: url([[pix:theme|border]]) 17 round;
	padding-left: 0px;
	padding-right: 0px;
	margin: 15px;
}
@media (max-width: 768px) {
	#page.container-fluid {
		border: none;
		margin: 0px;
	}
}
.page-context-header {
    background-color: #002859;
}

.breadcrumb>li>.divider {
    color: black;
}
.page-context-header .page-header-headings h1 {
    color: white;
}

h3 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.4em;
}

#page-footer {
	border-top: none;
}

.page-header {
	margin: 0px;
}

.breadcrumb-nav {
	float: none;
	margin-bottom: 0px;
	margin-left: 0.8em;
}

.breadcrumb {
	padding-left: 0px;
}

.banner {
	height: 95px;
	background-color: #002859;
	width: 100%;
	display: table;
	border-radius: 6px 6px 0px 0px;
}

.bannerlogo {
	display: table-cell;
	border-radius: 6px 6px 0px 0px;
}

.bannerlogoright {
	text-align: right;
	vertical-align: top;
	color: white;
	background-image: url(/theme/image.php/ubc_blue/theme/1559083186/logo);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}

@media (max-width: 768px) {
	.bannerlogoright {
		background-image: url(/theme/image.php/ubc_blue/theme/1559083186/crest);
		background-position-x: 20px;
		background-size: 40px;
	}
}

.bannerlogo a {
	color: yellow;
}

.bannerlogo .usertour {
    display: none;
}

.bannertext {
	padding-top: 3px;
    padding-right: 5px;
    font-size: 90%;
}

.sitenametext {
    text-transform: uppercase;
    font-family: "Open Sans";
    letter-spacing: 3px;
    font-weight: 600;
    padding-top: 2px;
    padding-right: 5px;
    font-size: 80%;
}

#dock .dockeditem_container {
    margin-top: 12px;
}

#dock {
	border-right: dashed 1px;
}

body.has_dock #page {
    margin-left: 45px;
	padding-left: 0px;
	padding-right: 0px;
}


/* Login Page
-------------------------

.loginbox { 
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
	
	width: 100%;
	margin: 0px;
}

.loginpanel { 
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
	width: 50%;
	
    border-left: 1px #d4d4d4 solid;
}

.signuppanel { 
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
	width: 50%;
}

.loginpanel h2 {
    display: none;
}

.subcontent.loginsub:before {
    content: "Non-UBC Members";
    font-size: 1.4em;
    font-weight: 700;
    margin: 5px;
    padding: 10px;
    line-height: 50px;
}

.signuppanel .subcontent h6 {
	display: none;
}

.potentialidplist:before {
    content: "UBC Staff, Faculty, and Students";
    font-size: 1.4em;
    font-weight: 700;
    margin: 5px;
    padding: 10px;
    line-height: 50px;
}


.subcontent.potentialidps {
    margin: 5px;
    padding: 10px;
}

.potentialidp {
    margin: 5px;
    padding: 10px;
}

.potentialidp .btn {
    background-image: url([[pix:theme|cwl_login]]);
    border: none;
    background-size: cover;
    width: 83px;
    height: 35px;
    padding: 0px;
}

.potentialidp .btn:hover,
.potentialidp .btn:focus {
	background-position: 0px;
}

@media (max-width: 768px) {
	.loginbox { 
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical;
	}
	.loginpanel {
		width: 100%;		
		border-left: none;
		border-top: 1px #d4d4d4 solid;
	}

	.signuppanel { 
		width: 100%;		
	}
} */


/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
